<ion-header>
  <ion-toolbar>
    <ion-title>Tem uma conta?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="image-center" src="assets/abelha icon.png"></ion-img>
  
  <ion-card-content>
    <ion-item>
      Tenha em mente que você só poderá ter uma conta por vez.
      Ao registrar uma nova, sua antiga será apagada.
    </ion-item>

    <ion-button id=log expand="block" (click)='login()'>Tenho uma conta.</ion-button>
    <ion-button id=reg expand="block" (click)='register()'>Não tenho uma conta.</ion-button>
  </ion-card-content>

</ion-content>
