<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Introdução
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Introdução</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-item>
      Em Beegin você irá controlar uma abelha desde seu nascimento e
      terá a opção de tomar escolhas por ela. <br> <br>
      Seu papel será auxiliar no gerenciamento da colmeia,
      acompanhando o seu crescimento e maturidade.
    </ion-item>
    <ion-button expand="block" (click)='ch1()'>Capítulo 1</ion-button>
  </ion-card-content>
  
</ion-content>
