<ion-header>
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img class="image-center" src="assets/abelha icon.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Beegin</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input placeholder="Nome de Usuário" type="text" [(ngModel)]="user" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input placeholder="Senha" type="password" [(ngModel)]="senha" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input placeholder="Repetir Senha" type="password" [(ngModel)]="resenha" required></ion-input>
      </ion-item>

      <ion-button expand="block" (click)='register()'>Registrar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
